@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700');
* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}

#main{
	display: none;
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 70px;
	background-color: black;
	border: 10px solid #BDBDBD;
	border-radius: 5px;
	text-transform: uppercase;
}

.player{
	//height: 140px;
	//background-color: #E0E0E0;
	flex-grow: 1;
	color: #00d700;
	padding: 5px;
	width: 300px;
	font-size: 25px;
}

.player:hover{
	color: #fff;
	background-color: #00d700;
	cursor: pointer;
}